html {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fondo.jpg);
}



.addListWrapper {
    width: 97vw;
    height: 6vh;
    background:navy;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2vh 2vw 1vh 1vw;
    font-family: 'Montserrat', sans-serif;
}

.addListWrapper input {
    color: white;
    background-color: navy;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.addListWrapper input::placeholder {
    color: goldenrod;
}

.lists {
    margin-top:10vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.list {
    background: white;
    min-height: 20%;
    margin: 1vh 1vw 1vh 1vw;
    padding: 0.25vh 0.5vw 0.5vh 0.25vw; 
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    }

.listHeader {
    display: flex;
    justify-content: left;
}

.listHeader button{
    height: 1.5em;
    margin-top: 1em;
    margin-left: 0.5em;
}

.task {
    display: flex;
    justify-content: left;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.task button {
    margin-right: 0.5em;
}