html {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fondow.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

@media screen and (max-width: 600px) {
    html {
        width: 100vw;
        height: 100vh;
        background-image: url(../img/fondoh.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: cover;
    }
}

body{
    overflow-x: hidden;
}

button {
    background-color: rgb(255, 255, 255, 0);
    font-family: 'Montserrat', sans-serif;
    border-radius: 10%;
}

.addListWrapper {
    width: 90vw;
    height: 10vh;
    background:darkslategrey;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0vh 5vw 0vh 5vw;
    font-family: 'Montserrat', sans-serif;
}

.addListWrapper input {
    color: white;
    font-weight: 700;
    background-color: rgb(150, 15, 15, 0);
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 3.5vh;
    padding-top: 3vh;
}

.addListWrapper input::placeholder {
    color: goldenrod;
    font-weight: 900;
}

.addListWrapper button {
    height: 5vh;
    border: 2px solid goldenrod;
    color: white;
}

@media screen and (max-width: 600px) {
    .addListWrapper {
        width: 90vw;
        height: 6vh;
        background:rgb(48, 99, 6);
        text-align: center;
        position: fixed;
        left: 0;
        top: 0;
        padding: 0vh 5vw 0vh 5vw;
        font-family: 'Montserrat', sans-serif;
        min-width: 60vw;
    }

    .addListWrapper input {
        color: white;
        font-weight: 700;
        background-color: rgb(150, 15, 15, 0);
        outline: none;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        height: 3.5vh;
        vertical-align: middle;
        padding-top: 0.5vh;
        width:55vw;
    }
    
    .addListWrapper input::placeholder {
        color: rgb(252, 202, 78);
        font-weight: 700;
    }
} 

.lists {
    margin-top:12vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border:0;
}

.list {
    background:rgb(192,192,192,0.85);
    min-height: 20%;
    margin: 1vh 0.5vw 1vh 0.5vw;
    padding: 0.25vh 0.25vw 0.25vh 0.25vw; 
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    }

.listHeader {
    display: flex;
    flex-direction: row;
    padding: 0.1vh 0.1vw 0.1vh 0.5vw;
    justify-content: flex-start;
}

.deleteList {
    height: 32px;
    margin-top: 0.8em;
    flex:1;
    padding-right:0.5em;
    max-width: 32px;
}

.clearTasks {
    height: 32px;
    max-width: 32px;
    margin-top: 0.8em;
    flex:1;
}

h4{
flex:5;
color: darkslategrey;
}

.tasks {
    max-height: 69vh;
    overflow: auto;
    max-width: 40vw;
    padding: 0.25vh 0.25vw 0.25vh 0.25vw; 
}

@media screen and (max-width:600px) {
    .tasks{
        width: 70vw;
        max-width: 80vw;
        max-height: 65vh;
        overflow: auto;
    }
}

.task {
    display: flex;
    justify-content: left;
    padding: 0.25vh 0.25vw 0.25vh 0.25vw;
}

.deleteTask {
    margin-right: 0.45vw;
    margin-bottom: 0.1vh;
    border: none;
    background-color: red;
    color: white;
    border-radius: 100%;
    min-height: 1em;
    min-width: 1em;
    max-height: 1em;
    max-width: 1em;
    font-size: 0.8em;
    font-weight: 700;
    padding: 0.2em;
    text-align: center;
}

.deleteTask:hover{
    background: white;
    cursor: default;
    color: red;
}

@media screen and (max-width:600px) {
    .addTask input {
        width: 50vw;
    }
}

.addTask{
    padding: 0.25vh 0.25vw 0.25vh 0.25vw;
}

.addTask button{
    border: 2px solid rgb(105, 105, 100);
    background-color: rgb(105, 105, 100);
    color: goldenrod;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .addTask button{
        border: 2px solid goldenrod;
        background-color:rgba(50, 100, 5, 0.7);
    }
}

.taskText {
    color: darkslategrey;
}

.taskText:focus {
    color: blue;
}

.taskCheck {
    margin-right: 0.45vw;
    margin-bottom: 0.1vh;
    border: none;
    background-color: green;
    color: white;
    border-radius: 20%;
    min-height: 1em;
    min-width: 1em;
    max-height: 1em;
    max-width: 1em;
    font-size: 0.75em;
    font-weight: 700;
    padding: 0.2em;
}

.taskCheck:hover {
    background-color:white;
    color:green;
    cursor: default;
}



